{% extends "FachowoAdminBundle::layout.html.twig" %}

{% block content %}
    <section class="panel" id="datatable">
        <header class="panel-heading font-bold">
            Historia zadań
                <a class="btn btn-xs btn-success pull-right" href="{{ path('task_new') }}">
                    <i class="fa fa-plus"></i> Dodaj nowe zadanie
                </a>
        </header>
        <div class="table-responsive">
            <table class="table table-striped m-b-none" data-ride="datatables">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Treść</th>
                        <th>Należy do projektu: </th>
                        <th>Użytkownik odpowiedzialny</th>
                        <th>Data zakończenia</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.content }}</td>
                            <td>{% if task.project.name is defined %}{{ task.project.name }}
                                {% else %}
                                    Najpierw dodaj projekt
                                {% endif %}</td>
                            <td>
                                <ul>
                                    {% for user in task.users %}
                                        <li> {{ user.username }} </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                {{ task.doneAt|date('Y-m-d H:i:s') }}
                            </td>
                            <td>
                                <a href="{{ path('task_show', { 'id': task.id }) }}">|więcej |</a>
                                <a href="{{ path('task_edit', { 'id': task.id }) }}">edytuj|</a>
                            </td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}