{% extends "FachowoAdminBundle::layout.html.twig" %}

{% block content %}
    <section class="panel" id="datatable">
        <header class="panel-heading font-bold">
            Lista zadań
            <a class="btn btn-xs btn-success pull-right" href="{{ path('task_new') }}">
                <i class="fa fa-plus"></i> Dodaj nowe zadanie
            </a>
        </header>
        <div class="table-responsive">
            <table class="table table-striped m-b-none" data-ride="datatables">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ task.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ task.name }}</td>
                </tr>
                <tr>
                    <th>Content</th>
                    <td>{{ task.content }}</td>
                </tr>
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('task_index') }}">Lista wszystkich zadań</a>
                </li>
                <li>
                    <a href="{{ path('task_edit', { 'id': task.id }) }}">Edycja</a>
                </li>
                {% if logger is defined %}
                    <li>
                        {{ dump(loggerId) }}
                        <a href = "{{ path('logger_restore', {'id': loggerId}) }}">Przywróć</a>
                    </li>
                {% else %}
                    <li>
                        {{ form_start(delete_form) }}
                            <input type="submit" value="Delete">
                        {{ form_end(delete_form) }}
                    </li>
                {% endif %}
            </ul>
        </div>
        {% if logger is defined %}
            <div class="panel-heading"><strong>Komentarze niedostępne</strong></div>
            {% else %}
        {{ render(controller('FachowoAdminBundle:Comments:index', {'model': 'task', 'modelId': task.id})) }}
        {{ render(controller('FachowoAdminBundle:Comments:new', {'model': 'task', 'modelId': task.id})) }}
        {% endif %}
    </section>
{% endblock %}
