#ArticlePage {
	> article { 
		> header { position: relative; /*.Blue(); */
			figure { width: 100%; height: 100%; position: absolute; bottom: 0; right: 0; background-repeat: no-repeat; background-position: left 30%; background-size: cover; }
			> a { display: none; }
			h1 { font-weight: 900; font-size: 48px; color: @colorMain; text-transform: uppercase; margin-bottom: 30px; position: relative; z-index: 1; }
			.Body { padding: 100px 550px 80px 60px;
				h3 { font-weight: 700; font-size: 20px; line-height: 140%; color: @colorMain; margin-bottom: 25px; position: relative; z-index: 1; }
				figure { width: 60%; height: 110%; position: absolute;bottom: 0; right: -5%; background-repeat: no-repeat; background-position: bottom right; background-size: contain; }
			}
			&.White { 
				h1, h3, a { color: @colorWhite; }
			}
		}
		.Breadcrumbs { padding: 40px 0 55px 60px; 
			a { color: @colorMain; font-weight: 700; margin-right: 15px; position: relative;
				&:after { content: '/'; padding: 0 6px; color: fade(@colorBlack, 50); font-weight: 400; position: absolute; left: 100%; top: 2px; }
				&:hover { text-decoration: underline; }
			}
			span { color: fade(@colorBlack, 50); }
		}
		.Social { position: absolute; top: 0; left: -60px;
			a { display: block; width: 60px; height: 60px; margin: 0; padding: 12px; .transition();
				span svg { width: 36px !important; height: 36px !important; }
				&:hover, &:focus { .opacity(80); .transform(none); }
			}
		}
		> .Body:not(.Breadcrumbs) { width: 810px; margin: 0 auto; padding-left: 60px; border-left: 1px solid fade(@colorBlack, 10); 
			p, ul, ol { font-weight: 300; font-size: 18px;
				&:not(:last-child) { margin-bottom: 35px; }
			}
			h3 { margin-bottom: 35px; color: @colorMain; font-size: 32px;  }
			ol { counter-reset: index;
				li { padding: 3px 0 3px 35px; position: relative; counter-increment: index;
					&:before { content: counter(index) '.'; display: inline-block; position: absolute; top: 3px; left: 0; color: @colorMain; font-weight: 700; }
				}
			}
			ul li { padding: 3px 0 3px 20px; position: relative;
				&:before { content: ''; display: block; width: 5px; height: 5px; border-radius: 50%; background-color: @colorMain; position: absolute; top: 13px; left: 0; }
			}
			.Dual { position: relative; margin-bottom: 50px;
				aside { z-index: 1; position: relative; line-height: 150%; display: block; width: 480px; margin-left: -180px; float: left; padding: 55px 60px; color: @colorWhite; text-transform: uppercase; font-weight: 900; font-size: 22px; 
					&:before { content: ''; z-index: -1; width: 100%; height: 100%; display: block; position: absolute; top: 0; left: 0; background-color: @colorMain; }
					&:after { content: ''; z-index: -1; width: 60%; height: 100%; position: absolute; top: 0; right: 0; background: url(@icon) no-repeat 20px -195px; background-size: 320px auto; .opacity(10); }
				}
				div { padding: 35px 30px; width: 460px; position: absolute; left: 330px; top: 50%; .transform(translateY(-50%)); 
					h3 { margin-bottom: 25px; line-height: 130%; }
				}
				&:after { .clear(); }
			}
		}
		
	}
	> section { margin: 80px auto; 
		h2 { font-size: 72px; font-weight: 900; color: @colorMain; text-align: center; margin-bottom: 45px;}
		h3 { line-height: 140%; color: @colorBlack; text-align: center; font-size: 20px; font-weight: 300; margin-bottom: 45px; }
		.Grid {
			.BannerBg figure span { background-position: 55% center; }
		}
	}
}


/* RWD 
-------------------------------*/
@media screen and (max-width: 1270px) {
	#ArticlePage {
		> article {
			> header {
				figure { background-position: center 30%; }
				h1 { font-size: 42px; }
				.Body {
					h3 { font-size: 16px; }
				}
			}
			> .Body:not(.Breadcrumbs) .Dual aside { margin-left: -115px; width: 430px; font-size: 20px; padding: 45px 60px; }
		}

		> section h2 { font-size: 66px; }
	}
}

@media screen and (max-width: 1023px) {
	#ArticlePage {
		> article {
			> header {
				h1 { font-size: 36px; }
				.Body { padding: 60px 300px 60px 0;
					figure { width: 55%; }
				}
			}
			.Breadcrumbs { padding-left: 0 }
			.Body:not(.Breadcrumbs) { width: 570px; 
				.Dual {
					aside { margin-left: -140px; width: 330px; padding: 60px 30px; }
					div { width: 415px; left: 190px; }
				}
			}
		}
		> section {
			h2 { font-size: 54px; }
			h3 { font-size: 18px; 
				br { display: none; }
			}
			.Grid {
				.BannerBg figure span { .opacity(50); }
			}
		}
	}
}

@media screen and (max-width: 767px) {
	#ArticlePage { overflow: hidden;
		>article{
			>header {
				a { z-index: 1; display: block; position: absolute; top: 25px; left: 20px; color: @colorMain; font-weight: 700; padding-left: 13px; 
					&:before { content: ''; .arrow(8px); .rotate(135deg); position: absolute; left: 0; top: 50%; margin-top: -4px; border-color: @colorMain; border-width: 2px; }
				}
				figure { background-position: 85% 30%; width: 100%; height: 250px; position: relative; top: 0; left: 0; }
				h1 { padding: 60px 20px 25px; font-size: 28px;  margin: 0; }
				.Body { padding: 0;
					h3 { font-size: 17px; padding: 20px 20px 10px; background-color: @colorWhite; margin-bottom: 0; }
				}
				&.White { 
					h1,h3,a { color: @colorMain !important; }
				}
			}
			.Breadcrumbs { display: none; }
			.Body:not(.Breadcrumbs) { width: 100%; }
			> .Body:not(.Breadcrumbs) { padding: 0 20px; 
				h3 { font-size: 17px; margin-bottom: 25px; }
				.Social { position: relative; left: 0; height: 60px; width: 100%; .transform(scale(0.6)); .origin(left center); margin-bottom: 10px;
					a { float: left;  }
				}
				p, ul, ol { font-size: 14px; 
					&:not(:last-child) { margin-bottom: 15px; }
				}
				ul li { padding: 1px 0 1px 12px; 
					&:before { top: 8px; width: 4px; height: 4px; }
				}
				ol li { padding: 1px 0 1px 20px; 
					&:before { top: 1px; }
				}
				.Dual { margin-bottom: 25px; 
					aside { line-height: 130%; float: none;font-size: 14px; width: 100%; height: auto; margin: 0 0 25px; padding: 22px 25px; }
					div { position: relative; left: 0; width: 100%; .transform(none); padding: 0;
						p { font-size: 14px; }
					}
				}
			}
		}
		>section { margin: 40px 0;
			h2 { font-size: 40px; margin-bottom: 25px; padding-left: 20px; padding-right: 20px; }
			h3 { font-size: 17px; padding-left: 20px; padding-right: 20px; }
			.Grid {
				.Item.Big aside { padding-right: 45%; }
				.BannerBg { 
					figure span { .opacity(100); background-position: 50% center;  }
					aside { padding-right: 50% !important; }
				}
			}
		}
	}
}
