#ArticlesPage {
	> article { position: relative; .Blue();
		.Body { padding: 50px 550px 60px 60px;
			h2 { font-weight: 900; font-size: 48px; color: @colorMain; text-transform: uppercase; margin-bottom: 30px; position: relative; z-index: 1; }
			h3 { line-height: 140%; font-weight: 700; font-size: 20px; color: @colorMain; margin-bottom: 25px; position: relative; z-index: 1; }
			p { margin-bottom: 40px; position: relative; z-index: 1; }
			figure { width: 60%; height: 110%; position: absolute;bottom: 0; right: -5%; background-repeat: no-repeat; background-position: bottom right; background-size: contain; }
		}
	}
	.Grid { margin: 80px 0; 
		>div + .Big { float: right; }
	}
}


/* RWD 
-------------------------------*/
@media screen and (max-width: 1270px) {
	#ArticlesPage > article .Body { padding-right: 450px;
		figure { width: 55%; }
		h2 { font-size: 42px; }
	}
}

@media screen and (max-width: 1023px) {
	#ArticlesPage > article .Body { padding-right: 300px; padding-left: 0;
		h2 { font-size: 36px; }
		h3 { font-size: 18px; }
	}
}

@media screen and (max-width: 767px) {
	#ArticlesPage { overflow: hidden;
		> article { background-color: white; text-align: center;
			&:before { width: 80%; height: 150px; }
			.Body { padding: 0; 
				h2 { text-align: left; font-size: 30px; position: absolute; top: 0; left: 0; padding: 20px; }
				figure { position: relative; top: 0; left: 0; width: 100%; height: 320px; background-color: fade(@colorMain2, 15); }
				h3 { margin: 15px 0; line-height: 130%; font-size: 17px; }
				p { margin-bottom: 25px; 
					br { display: none; }
				}
				h3, p { text-align: left; padding: 0 20px; }
				a { margin-left: 20px; }
			}
		}
		.Grid { margin: 40px 0; }
	}
}
