/* BASE
----------------------------------*/

a, input { text-decoration:none; color:@colorText; }
html *{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
*,*:after,*:before{.box-sizing();}
*:focus  {   outline: none;  }  
::selection {background:fade(@colorBlack,10);color:@colorWhite;}
::-moz-selection {background:fade(@colorBlack,10);color:@colorWhite;}
::-webkit-selection {background:fade(@colorBlack,10);color:@colorWhite;}

::-webkit-input-placeholder { color: @colorBlack; .opacity(40); line-height: 100%; }
:-moz-placeholder { color: @colorBlack; .opacity(40); line-height: 100%; }
::-moz-placeholder { color: @colorBlack; .opacity(40); line-height: 100%; }

:focus {
    &::-webkit-input-placeholder { color: @colorWhite; }
    &:-moz-placeholder  { color: @colorWhite; }
    &::-moz-placeholder  { color: @colorWhite; }
}

//body, html { height: 100%}
body { font-family: @font; font-size: @fontSize; background-color: @colorWhite; color: @colorText; }

p, ol, ul { line-height: 140%; }

@media screen and (max-width: 1270px) {
	body { font-size: 14px; }
}

@media screen and (max-width: 767px) {
	p, ol, ul { line-height: 130%; }
}

