.Body { display: block; position: relative; margin: 0 auto; width: 1050px; }

.Logo { display: block; width: 240px; height: 96px; position: relative; top: 0; left: 0; z-index: 1; .transition(.4s);
	img { .opacity(0); width: 100%; height: 100%; }
	&:before, &:after { content: ''; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-repeat: no-repeat; background-size: contain; .transition(); }
	&:before { background-image: url(@logo); }
	&:after { background-image: url(@logoWhite); .opacity(0); }
	&.White { 
		&:before { .opacity(0); }
		&:after { .opacity(100); }
	}
}

.Btn { font-weight: 900; text-transform: uppercase; color: @colorMain; display: inline-block; line-height: 46px; padding: 0 40px; border: 2px solid @colorMain; border-radius: 25px; cursor: pointer; .transition(); 
	&.Trans:hover { background-color: @colorMain; color: @colorWhite; }
}

.More { display: inline-block; padding-left: 22px; text-transform: uppercase; font-weight: 900; color: @colorMain; position: relative; cursor: pointer;
	&:before { content: ''; .arrow(8px); .rotate(-45deg); position: absolute; left: 0; top: 50%;  margin-top: -4px; border-width: 2px; .transition(); will-change: left; }
	&:hover:before { left: 3px; }
}

.Grid { position: relative; width: 100%; text-align: left; margin-bottom: 40px;
	> div { float: left; width: 50%; 
		.Item { width: 100%; }
	}
	.Item { width: 50%; height: 250px; float: left; position: relative; .transform(translate3d(0,0,0));
		figure { background-color: fade(@colorMain2, 15); width: 50%; height: 100%; overflow: hidden; position: absolute; left: 50%; top: 0; 
			span { display: block; width: 101%; height: 101%; background-size: cover; .transition(.4s); will-change: transform; }
		}
		aside { padding: 30px 25px; width: 50%; height: 100%; background-color: @colorWhite; position: absolute; left: 0; top: 0; .transform(translate3d(0,0,0));
			h4 { text-transform: uppercase; color: @colorMain; font-size: 22px; font-weight: 900; margin-bottom: 20px; line-height: 120%; }
			.More { position: absolute; bottom: 30px; left: 25px; }
			&:after { content: ''; display: block; width: 24px; height: 24px; background-color: inherit; .transform(rotate(40deg) skew(-10deg)); position: absolute; top: 50px; right: 0; margin-right: -12px; } 
		}
		&.Big { height: 500px; 
			figure, aside { width: 100%; left: 0; }
			aside { padding-right: 47%; background-color: transparent;
				.More { position: relative; margin-top: 30px; bottom: 0; left: 0; }
			}
			&:nth-of-type(2) aside { padding-right: 50%; }
		}
		&.Blue aside { background-color: @colorMain; 
			h4, p, .More { color: @colorWhite; }
			.More:before { border-color: @colorWhite; }
		}
		&.Right { 
			figure { left: 0; }
			aside { left: 50%; 
				&:after { right: 100%; }
			}
		}
		&.Trans:hover { 
			figure span { .transform(scale(1.03)); }
		}
	}
	&:after { .clear(); }
}

.ExList ul { width: 500px; float: left; background-color: @colorMain; color: @colorWhite; text-align: left; margin-bottom: 85px; padding: 40px 0;
	li { padding: 12px 50px 12px 80px; font-size: 20px; font-weight: 300; position: relative; cursor: pointer; .transition();
		&:before { content: ''; .arrow(8px); .rotate(-45deg); border-color: @colorWhite; border-width: 2px; position: absolute; left: 55px; top: 50%; margin-top: -4px; display: block; .transition(); }
		&.Active { background-color: @colorMain2; padding: 35px 20px 35px 100px; margin: 0 -20px; font-size: 22px; text-transform: uppercase; font-weight: 900; 
			&:before { width: 16px; height: 16px; border-width: 4px; margin-top: -8px; left: 65px; }
			&:hover:before { left: 70px; }
		}
		&:hover { 
			&:before { left: 60px; }
		}
	}
}

.Page { padding-top: 75px; position: relative; min-height: 460px; overflow: hidden;
	> header { background-color: @colorWhite;
		.Body { padding: 80px 0; text-align: center; z-index: 1;
			h1 { font-weight: 900; font-size: 72px; color: @colorMain; margin-bottom: 40px; }
			h3, address { font-weight: 300; font-size: 20px; color: @colorBlack; line-height: 140%; }
			address { margin-bottom: 10px; }
			&:before { content: ''; width: 300px; height: 360px; display: block; position: absolute; left: -70px; top: 0; background: url(@icon) no-repeat bottom center; background-size: 100%; z-index: -1; .opacity(30); }
			.Btn { margin-top: 45px; }
		}
	}
	.Text { position: relative; margin: 0 auto; width: 870px; padding: 30px 0 40px;
		h4 { font-size: 20px; font-weight: 700; color: @colorMain; }
		p, address, ul, ol { font-size: 18px; font-weight: 300; line-height: 140%; }
		h4, p { margin-bottom: 20px; }
		ul li { padding-left: 30px; position: relative;
			&:before { content: ''; display: block; width: 5px; height: 5px; border-radius: 50%; background-color: @colorText; position: absolute; left: 0; top: 9px; }
		}
		ol { margin-top: 20px;
			li { list-style-type: decimal; list-style-position: inside; margin-bottom: 20px;
				ol {  padding-left: 20px;
					li { list-style-type: lower-alpha; }
				}
			}
		}

	}
}

.Blue() { background-color: fade(@colorMain2, 15); 
	&:before { content: ''; width: 60%; height: 100%; display: block; position: absolute; left: 0; top: 0; background: url(@cloud) no-repeat 0 0; background-size: 100%; }
}

.clear { content: ''; display: block; clear: both; width:100%; float: none;} 

.Cross { will-change: transform; display: block; text-indent: -1000px; overflow: hidden; width: 40px; height: 40px; padding: 5px; z-index: 2; cursor: pointer; .transition();
	&:before, &:after { content: ''; width: 24px; height: 4px; position: absolute; left: 50%; margin-left: -12px; top: 50%; margin-top: -2px; background-color: @colorWhite; }
	&:before { .rotate(45deg); }
	&:after { .rotate(-45deg); }
}

.Next, .Prev { display: block; width: 40px; height: 40px; position: absolute; top: 50%; cursor: pointer;
	&:before { content: ''; .arrow(16px); position: absolute; top: 50%; left: 50%; margin-top: -8px; margin-left: -11px; .rotate(-45deg); .transition(); }
	&:hover:before { margin-left: -8px; }
}
.swiper-pagination { position: absolute; top: 100%; margin-top: 42px; left: 10%; width: 80%;
	span { display: inline-block; margin: 0 12px; width: 15px; height: 15px; border-radius: 50%; background-color: @colorMain; cursor: pointer; .opacity(23); .transform(scale(0.66)); .transition(); 
		&.swiper-pagination-bullet-active { .transform(scale(1)); .opacity(100); }
		&:hover { .opacity(100); }
	}
}
.Prev { right: 100%; margin-right: 20px; .rotate(180deg); }
.Next { left: 100%; margin-left: 20px; }

#Cookie { display: none; z-index: 5; position: fixed; bottom: 0; left: 0; width: 100%; background-color: fade(@colorSky, 90); box-shadow: 0 7px 20px 10px fade(@colorBlack, 5); .transform(translateY(0)); .transition(.3s); will-change: transform;
	.Body { padding: 20px 45px 20px 0; 
		a { color: @colorMain; font-weight: 700; }
		p { font-size: 13px; }
		button { position: absolute; top: 50%; margin-top: -20px; right: -10px; width: 40px; height: 40px; border: 0; background-color: transparent; .Cross(); }
	}
	&.Hide { .transform(translateY(110%)); }
}

.VideoTrigger { overflow: hidden; cursor: pointer;
	img { max-width: 100%; }
	&:after { content: ''; display: block; width: 74px; height: 74px; background: url(@play) no-repeat center center; background-size: contain; position: absolute; left: 50%; top: 50%; margin: -37px 0 0 -37px; .transition(); will-change: scale; z-index: 1; }
	&:hover:after { .transform(scale(1.03)); }
}

/* RWD 
-------------------------------*/

@media screen and (max-width: 1270px) {
	.Body { width: 920px }
	.ExList ul { width: 450px; }
	.Page > header .Body h1 { font-size: 66px; }

}

@media screen and (max-width: 1020px) {
	.Body { width: 690px; }
	.Grid {
		.Item { width: 66.6%; height: 220px;
			aside { padding: 25px 20px; 
				.More { bottom: 25px; left: 20px; }
				h4 { font-size: 18px; }
			}
			&.Big { width: 33.3%; height: 440px; 
				aside { padding-right: 20px }
			}
			&.Blue aside { background-color: @colorWhite; 
			h4, p, .More { color: @colorMain; }
			.More:before { border-color: @colorMain; }
		}
		}
		> div { width: 66.6%; }

	}
	.ExList ul { width: 330px; padding: 30px 0;
		li { padding-left: 60px; padding-right: 20px;
			&:before { left: 35px; }
			&:hover:before { left: 40px; }
			&.Active { padding: 20px 20px 20px 80px; 
				&:before { left: 45px; }
				&:hover:before { left: 50px; }
			}
		}
	}
	.Page {
		> header .Body {
			h1 { font-size: 54px; }
			h3, address { font-size: 18px; }
			h3 br { display: none; }
		}
		.Text { width: 690px; }
	}
}

@media screen and (max-width: 767px) {
	.Body { width: 100%; }
	.Grid {
		.Item { width: 100%; height: 230px;
			aside { padding: 20px;
				h4 { font-size: 16px; margin-bottom: 15px; }
				p { display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; }
			}
			figure span { background-position: 30% center; }
			&.Big { width: 100%; height: 320px; 
				aside { padding-right: 40%; 
					.More { margin-top: 10px; }
				}
				&:nth-of-type(2) aside { padding-right: 50%; }
			}
		}
		> div { width: 100%; }
	}
	.Btn { font-size: 14px; line-height: 36px; padding: 0 30px; }
	.Page { padding-top: 60px; min-height: 0;
		> header .Body { padding: 60px 0 40px;
			h1 { font-size: 40px; margin-bottom: 25px; padding: 0 20px; }
			h3, address { font-size: 17px; padding: 0 40px; }
			&:before { width: 160px; height: 192px; left: -30px; }
		}
		.Text { width: 100%; padding: 10px 20px 40px;
			h4 { font-size: 17px; line-height: 130%; }
			p, address, ul, ol { font-size: 14px; }
			ul li { padding-left: 20px; 
				&:before { top: 6px; width: 4px; height: 4px; }
			}
			> ol { margin-top: 0; 
				li ol { padding-left: 0; }
			}
		}
	}
	.Prev, .Next {
		&:before { border-width: 3px; }
		&:hover:before { margin-left: -11px; }
	}
	#Cookie .Body { padding: 20px 50px 20px 20px; 
		p { font-size: 10px; line-height: 100%; }
		button { right: 4px; }
	}
}
