#ExPage {
	aside { position: absolute; top: 450px; left: 50%; margin-left: -525px; z-index: 1;
		ul { width: 330px; padding: 30px 0;
			li { padding-left: 60px; padding-right: 20px;
				&:before { left: 35px; }
				&:hover:before { left: 40px; }
				&.Active { padding: 20px 20px 20px 80px; 
					&:before { left: 45px; }
					&:hover:before { left: 50px; }
				}
			}
		}
		&.Stick { position: fixed; top: 140px; }
		&.ToBottom { position: absolute; top: auto; bottom: 20px; }
	}

	> article { .opacity(0); visibility: hidden; max-height: 0; overflow: hidden; .transition(.4s);
		section { position: relative;
			.Body { padding: 55px 0 55px 450px; 
				h2, h4 { font-weight: 900; font-size: 48px; color: @colorMain; text-transform: uppercase; }
				h3, h4 { font-size: 32px; }
				h2, h4 { margin-bottom: 35px; }
				h3 { color: @colorMain; }
				h4 { position: relative; display: inline-block;
					span { font-size: 80px; color: @colorMain2; font-weight: 300; position: absolute; left: 100%; top: -29px; margin-left: 6px; z-index: -1; .opacity(40); }
				}
				p { font-size: 20px; margin-bottom: 30px; }
				figure { width: 100%; left: 0; position: relative; 
					img { max-width: 100%; width: auto; height: auto; max-height: 500px; 
						&:not(:first-child) { display: none; }
					}
				}
			}
			&:nth-of-type(odd) { .Blue(); }
		}
		&.Show { .opacity(100); visibility: visible; max-height: 3000px; min-height: 500px;  }
	}
}


/* RWD 
-------------------------------*/
@media screen and (max-width: 1270px) {
	#ExPage { 
		> article section .Body { padding-left: 420px;
			h2 { font-size: 42px; }
			h3 { font-size: 26px; }
		}
		aside { margin-left: -465px; }
	}
}

@media screen and (max-width: 1023px) {
	#ExPage {
		> article section .Body { padding-left: 350px;
			h2 { font-size: 32px; }
			p { font-size: 18px; }
		}
		aside { margin-left: -345px; 
			ul { width: 290px;
				li { padding-left: 40px;
					&:before { left: 15px; }
					&:hover:before { left: 20px; }
					&.Active { padding: 20px 20px 20px 60px; 
						&:before { left: 25px; }
						&:hover:before { left: 30px; }
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	#ExPage { margin-bottom: 50px;
		aside { display: none; }
		> article { max-height: none; position: relative; width: 100%; padding: 0; .opacity(100); visibility: visible;
			h2 { position: relative; margin-bottom: 0; font-weight: 300; font-size: 16px; width: 100%; padding: 17px 20px 17px 40px; display: block; background-color: @colorMain; color: @colorWhite; text-transform: none; border-bottom: 1px solid fade(@colorWhite, 10); .transition(); 
				&:before { content: ''; .arrow(8px); border-color: @colorWhite; border-width: 2px; left: 20px; top: 50%; margin-top: -5px; .transition(.4s); }
			}
			section { text-align: center; max-height: 0; overflow: hidden; .opacity(0); .transition(.4s);
				&:nth-of-type(odd):before { display: none; }
				&:first-of-type { 
					.Body { padding: 30px 27px; }
					h3 { font-size: 17px; text-align: left; font-weight: 400; line-height: 130%;  }
				}
				.Body { padding: 20px; 
					 h4 { margin-top: 50px; margin-bottom: 20px; font-size: 30px;
					 	span { width: 100%; text-align: center; left: 0; top: auto; bottom: 100%; margin-bottom: -25px; margin-left: 0; .transition(.6s); .opacity(0); }
					 }
					 p { font-size: 17px; font-weight: 300; }
					 figure { margin: 30px 0; text-align: center; width: 100%; left: 0;
					 	img { display: inline-block !important; max-width: 280px; max-height: 620px;
					 		&:not(:last-child) { display: none !important; }
					 	}
					 }
				}
				
			}
			&.Show { 
				h2 { text-transform: uppercase; background-color: @colorMain2; font-weight: 900; 
					&:before { .rotate(-135deg); margin-top: -3px; }
				}
				section { max-height: 2000px; .opacity(100);
					.Body h4 span { .opacity(100); }
				}
			}
		}
	}			
}
