body > footer { width: 100%; background-color: @colorMain; 
	a:hover { text-decoration: underline; }
	> .Body { padding: 65px 0 15px 255px; position: relative; 
		.Logo { position: absolute; left: 0; top: 60px; }
		nav { 
			div { width: 33.3%; float: left; color: @colorWhite; padding: 0 0 30px 26px;
				h3 { text-transform: uppercase; padding-bottom: 20px; font-weight: 700; }
				a { color: @colorWhite; }
				> a { display: block; padding: 0 0 15px 12px; position: relative;  font-size: 14px;
					&:before { content: ''; display: block; width: 4px; height: 4px; border-radius: 50%; background-color: @colorWhite; position: absolute; left: 0; top: 5px; }
				}
				&:nth-child(4) { clear: both; }
			}
		}
		.Gsk { display: block; position: absolute; right: 0; bottom: 60px; width: 40px; height: 33px; background: url(@gsk) no-repeat center; background-size: contain; }
		&:after { .clear(); }
	}
	> section { background-color: @colorWhite; width: 100%; font-size: 14px;
		.Body {
			div { display: block; padding: 30px 0; 
				p { display: block; padding-bottom: 20px; 
					+ p { padding: 0; text-align: center; }
				}
			}
			nav { max-width: 54%; text-align: right; position: absolute; right: 0; top: 25px; /*top: 50%; .transform(translateY(-50%));*/
				a { margin-left: 15px; line-height: 30px; display: inline-block; }
			}
		}
		&:after { .clear(); }
	}
}


/* RWD 
-------------------------------*/
@media screen and (max-width: 1270px) {
	body>footer>section .Body {
		nav { max-width: 45%; }
		div p { padding-bottom: 11px; 
			+ p { text-align: left; }
		}
	}
}

@media screen and (max-width: 1023px) {
	body > footer {
		> .Body {/* padding-left: 0; padding-top: 30px; */
			.Logo { width: 150px; height: 60px;/* position: relative; top: 0; margin-bottom: 30px;*/ }
			nav div { padding-left: 0; padding-right: 25px; /**/ width: 50%;  }
		}
		> section { 
			.Body { padding: 20px 0 30px;
				nav { position: relative; max-width: 100%; text-align: center; top: 0; .transform(none); margin-bottom: 15px;
					a { margin: 0 20px 0 0; }
					a:last-child { margin: 0; }
				}
				div { padding: 10px 0;
					p { float: none; padding: 0; text-align: center !important; }
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	body > footer {
		> .Body { padding: 20px 0 0; 
			.Logo { margin: 0 0 20px; position: relative; top: 0; left: 20px; }
			.Gsk { bottom: auto; top: 30px; right: 20px; }
			nav {
				div { width: 100%; padding: 0; max-height: 42px; overflow: hidden; .transition(.4s);
					a:hover { text-decoration: none; }
					h3 { position: relative; font-weight: 300; font-size: 16px; width: 100%; padding: 12px 40px 20px 20px; display: block; background-color: @colorMain; color: @colorWhite; text-transform: none; border-top: 1px solid fade(@colorWhite, 10); .transition(); 
						&:not(.Direct):after { content: ''; .arrow(8px); border-color: @colorWhite; border-width: 2px; right: 20px; top: 50%; margin-top: -10px; .transition(.4s); }
						&.Direct a { width: 100%; display: block; }
					}
					> a { padding: 0 0 15px 30px; 
						&:before { left: 20px; }
					}
					&.Show { max-height: 500px;
						h3 { font-weight: 900; text-transform: uppercase;
							&:after { .rotate(-135deg); margin-top: -6px; }
						}

					}
				}
			}
		}
		>section { padding: 20px 20px 30px; text-align: center; font-size: 12px; 
			.Body { padding: 0; 
				nav a { margin-right: 16px; line-height: 25px; }
				div { padding: 0; 
					p { padding-bottom: 20px; }
				}				
			}
		}
	}

}
