body > header { position: relative; width: 100%; height: 650px; padding-top: 30px; z-index: 2; overflow: hidden;
	> figure { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover; }
	.Body { height: 100%;
		h1 { position: absolute; left: 0; bottom: 150px;  color: @colorWhite; 
			span { display: block; padding-bottom: 5px; text-transform: uppercase; font-size: 39px; }
			em { padding-top: 5px; text-transform: none; font-size: 82px; font-weight: 900; }
		}
	}
	.Wave { display: block; width: 250px; height: 50px;position: absolute; bottom: 75px; left: 50%; margin-left: -125px; cursor: pointer; .opacity(80);
		&:before { content: ''; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: url(@wave) no-repeat bottom center; background-size: contain; }
		&:after { content: ''; .arrow(16px); border-color: @colorWhite; left: 50%; margin-left: -8px; bottom: 15px; .transition(); }
		&:hover:after { bottom: 12px; }
	}
	nav { display: block; height: 75px; background-color: fade(@colorMain, 80); width: 100%; position: absolute; bottom: 0; left: 0; .transition(); will-change: background;
		.Body { position: relative; text-align: center; .transition(.4s);
			a:not(.Logo) { display: inline-block; width: 24.5%; height: 100%; text-align: center; padding: 0 10px; line-height: 140%; position: relative; font-weight: 700; text-transform: uppercase; color: @colorWhite; bottom: 0; .transition(); 
				span { position: relative; top: 50%; .transform(translateY(-50%)); display: block; }
				&:hover { bottom: 5px; }
			}
			.Logo { .opacity(0); position: absolute; height: 60px; width: 150px; top: 10px; left: 0; .transition(.4s); will-change: opacity; }
		}
	}
	#Hamburger { display: none; }
	&.Stick { position: fixed; top: -575px; left: 0; overflow: visible; box-shadow: 0 10px 80px 20px fade(@colorWhite, 20);
		/*.Logo { height: 60px; width: 150px; top: 552px; left: 0;
			&:before { .opacity(0); }
			&:after { .opacity(100); }
		}*/
		figure, .Wave, >.Body { display: none; }
		nav { background-color: @colorMain !important; 
			
			.Body { padding-left: 160px; /*padding-left: 240px; width: 1120px;*/
				.Logo { .opacity(100); }
				a:not(.Logo) {
					&:after { content: ''; width: 0px; height: 0px; display: block; background-color: @colorMain; .rotate(45deg); position: absolute; bottom: 5px; left: 50%; margin-left: -12px; .transition(.4s); will-change: width; will-change: height; will-change: bottom; }
					&.Active {
						&:after { width: 24px; height: 24px; bottom: -10px; }
						&:hover { bottom: 0; }
					}
				}
			}
		}
	}
}


/* RWD 
-------------------------------*/
@media screen and (max-width: 1270px) {
	body > header { height: 500px; 
		.Body h1 em { font-size: 66px; }
		&.Stick { top: -425px; 
			//.Logo { top: 406px; }
			//nav .Body { padding-left: 180px; width: 950px; }
		}
	}
}

@media screen and (max-width: 1023px) {
	body > header {
		.Body h1 {
			span { font-size: 32px; }
			em { font-size: 54px; }
		}
		nav .Body { display: flex; justify-content: center; }
		//&.Stick nav .Body { width: 750px; padding-left: 200px; }
	}
}

@media screen and (max-width: 767px) {
	body>header, body>header.Stick { padding-top: 60px; height: 450px; overflow: visible;
		.Logo { width: 116px; height: 47px; top: 7px; left: 20px; position: fixed;
			&:before { .opacity(0); }
			&:after { .opacity(100); }
		}
		figure { background-position: 60% center; width: auto; height: auto; top: 60px; right: 0; bottom: 0; left: 0; }
		.Body {  
			h1 { padding: 0 20px; bottom: 60px;
				span { font-size: 20px; }
				em { font-size: 40px; }
			}
		}
		>.Body { display: block; }
		.Wave { bottom: 0; width: 200px; height: 40px; margin-left: -100px; 
			&:after { border-width: 3px; width: 14px; height: 14px; margin-left: -7px; }
		}
		nav { position: fixed; top: 0; left: 0; height: 60px; background-color: @colorMain !important; box-shadow: 0 20px 20px 0 fade(@colorWhite, 10);
			#Hamburger { display: block; position: absolute; right: 20px; top: 15px; width: 36px; height: 30px; overflow: hidden;
				span { position: absolute; width: 100%; height: 100%; top: 0; left: 0; text-indent: -200px;
					&:before, &:after { content: ''; }
				}
				&:before, &:after, span:before, span:after { display: block; position: absolute; width: 100%; height: 5px; border-radius: 3px; background-color: @colorWhite; text-indent: -200px; top: 50%; margin-top: -2px; .transition(.4s); }
				&:before { content: ''; top: 5px; } 
				&:after { content: ''; top: 25px; }
			}
			.Body { padding: 0; max-height: 0; height: auto; .transition(.4s); position: fixed; top: 60px; left: 0; width: 100%; overflow: hidden; display: block; background-color: @colorMain; box-shadow: 0 20px 20px 0 fade(@colorWhite, 10);
				a:not(.Logo) { display: block; padding: 10px 20px; width: 100%; 
					span { top: auto; .transform(none); }
					&.Active { text-decoration: underline; 
						&:after { display: none; }
					}
					&:hover { bottom: 0; }
				}
				.Logo { display: none; }
			}
			&.ShowMenu {
				#Hamburger {
					&:before, &:after { width: 0; margin-left: 50%; }
					span:before { .rotate(45deg); }
					span:after { .rotate(-45deg); }
				}
				.Body { max-height: 500px; padding: 15px 0; }
			}
		}
	}
	body>header.Stick { 
		figure { display: none; }
	}
}
