#HomePage {
	#Dots { position: fixed; top: 50%; right: 40px; margin-top: -40px; z-index: 1;
		span { display: block; margin: 15px 0; width: 15px; height: 15px; border-radius: 50%; background-color: @colorMain; cursor: pointer; .opacity(23); .transform(scale(0.66)); .transition(); will-change: opacity; will-change: transform;
			&.Active { .transform(scale(1)); .opacity(100); }
			&:hover { .opacity(100); }
		}
	}

	> section { background-color: @colorWhite; padding-top: 75px; text-align: center; position: relative; //.enumeration(5,1);
		h2, h3 { text-align: center; }
		h2 { font-size: 72px; font-weight: 900; color: @colorMain; position: relative; display: inline-block; margin-bottom: 30px;
			span { position: absolute; font-size: 160px; font-weight: 300; position: absolute; left: 100%; margin-left: 30px; top: 50%; margin-top: -80px; color: @colorMain2; .opacity(50); }
		}
		h3 { font-size: 20px; font-weight: 300; line-height: 140%; margin-bottom: 45px;
			em { font-weight: 700; color: @colorMain; }
		}
		&:nth-of-type(odd) { background-color: fade(@colorMain2, 15);
			h3 { color: @colorBlack; }
		}

		&#Articles {
			.Grid .Item.Big {
				figure span { position: absolute; width: 90%; height: 90%; bottom: 0; right: 0;}
				aside { padding-right: 43%; }
			}
			.Btn { margin-bottom: 60px; }
		}
		&#Exercises { 
			&:before { content: ''; width: 50%; height: 60%; display: block; position: absolute; right: 0; bottom: 0; background: url(@circle) no-repeat 30% 20%; }
			section { position: relative;
	
				article { .opacity(0); visibility: hidden; width: 50%; height: 100%; position: absolute; bottom: 0; right: 0; text-align: left; padding: 0 45px 45px; .transition(.4s);
					h4 { text-transform: uppercase; color: @colorMain; font-size: 24px; font-weight: 900; margin-bottom: 35px; }
					p { margin-bottom: 35px; color: @colorBlack; position: relative; }
					figure { display: block; position: relative; width: 100%; margin-bottom: 35px; text-align: center;
						img { max-width: 100%; height: auto; max-height: 140px;
							&:nth-of-type(2) { display: none; }
						}
					}
					a { position: relative; }
					&.Show { .opacity(100); visibility: visible; }
				}
				&:after { .clear(); }
			}
		}
		&#Activity { 
			.swiper-container { margin-bottom: 60px; text-align: left;
				.swiper-slide { width: 23%; margin-right: 2.66%;
					figure { width: 100%; height: 350px; position: relative; background-size: cover;
						h4 { color: @colorWhite; text-transform: uppercase; position: absolute; bottom: 0; left: 0; padding: 20px; z-index: 1; font-size: 22px; font-weight: 900; }
						&:after { content: ''; display: block; position: absolute; bottom: 0; left: 0; width: 100%; height: 40%; .gradient(0deg, @colorBlack, transparent); .opacity(50); }
					}
					p { padding: 20px 0 10px; }
					&:last-child { margin-right: 0; }
				} 
			}
			#NextSlide, #PrevSlide { }
			#Pagination { display: none; }
			#PrevSlide { }
			#NextSlide {  }
		}
		&#Moments { padding-bottom: 40px; padding-top: 0; background: @colorSky url(@momentsBg) no-repeat top right; background-size: cover;
			&:before { content: ''; display: block; width: 320px; height: 50px; position: absolute; top: -50px; left: 50%; margin-left: -160px; background: url(@wave2) no-repeat bottom center; background-size: 100% 100%; }
			h2 { top: -5px; width: 220px; height: 217px; background: url(@momentsLogo2) no-repeat top center; background-size: contain; 
				em { display: block; position: absolute; width: 100%; top: 0; left: 0; text-indent: -2000px; overflow: hidden; }
				span { top: 60%; }
			}
			.Body {
				> span { display: block; width: 150px; height: 58px; position: absolute; top: 115px; left: 0px; 
					img { max-width: 100%; max-height: 100%; }
				}
				> div { margin: 0 0 0 auto; width: 690px; display: block; position: relative; 
					a { margin-top: 40px; background-color: @colorWhite; 
						&:hover { background-color: @colorMain; }
					}
					.VideoTrigger { width: 100%; height: auto; position: relative; }
				}
			}
		}
	}
}


/* RWD 
-------------------------------*/
@media screen and (max-width: 1270px) {
	#HomePage {
		> section {
			h2 { font-size: 66px; 
				span { font-size: 140px; margin-top: -70px; }
			}
			&#Exercises section article figure img { max-height: 120px; }
			&#Activity {
				.swiper-container .swiper-slide figure { height: 300px; }
				#PrevSlide { margin-right: 10px; }
				#NextSlide { margin-left: 10px; }
			}
			&#Moments { 
				h2 { height: 180px; margin-bottom: 0px; top: -15px; }
				.Body > div { width: 600px; 
					iframe { width: 600px; height: 338px; }
				}
			}
		}
		#Dots { right: 32px; }
	}
}

@media screen and (max-width: 1200px) {
	#HomePage>section#Moments { background-position: top center; }
}

@media screen and (max-width: 1023px) {
	#HomePage {
		> section {
			h2 { font-size: 54px; 
				span { font-size: 120px; margin-top: -60px; }
			}	
			h3 { font-size: 18px; 
				br { display: none; }
				em { display: block; }
			}
			&#Articles .Grid .Item.Big figure span { width: 100%; height: 60%; }
			&#Exercises section article { padding: 0 30px 30px; 
				p { margin-bottom: 25px; }
				figure { margin-bottom: 25px; }
			}
			&#Activity {
				.swiper-container .swiper-slide { width: 31%; margin-right: 3.5%; }
				#PrevSlide { margin-right: -1px; }
				#NextSlide { margin-left: -1px; }
			}
			&#Moments {
				h2 { width: 360px; height: 167px; }
				.Body {
					> span { width: 100px; height: 39px; top: 86px; }
					> div { width: 450px; 
						iframe { width: 450px; height: 253px; }
					}
				}
			}
		}
		#Dots { right: 13px; }
	}
}

@media screen and (max-width: 767px) {
	#HomePage{
		>section { overflow: hidden;
			h2 { font-size: 40px; padding: 0 20px; z-index: 1;
				span { font-size: 80px; left: 0; width: 100%; text-align: center; margin: 0 0 -30px; top: auto; bottom: 100%; z-index: -1; }
			}
			h3 { font-size: 17px; padding: 0 20px; margin-bottom: 25px; }
			&#Articles {
				.Grid .Item.Big figure span { width: 75%; height: 75%; }
				.Btn { margin-bottom: 40px; }
			}
			&#Exercises { margin-bottom: 40px;
				&:before { display: none; }
				section {
					aside { display: none; }
					article { position: relative; width: 100%; padding: 0; .opacity(100); visibility: visible;
						&:before { content: ''; width: 100%; height: 60%; display: block; position: absolute; left: 0; bottom: 0; background: url(@circle) no-repeat 30% 20%; }
						figure { margin-bottom: 35px; padding: 0 30px;
							img { display: inline-block !important; max-height: 300px;
								&:not(:last-child) { display: none !important;  }
							}
						}
						p { padding: 20px; margin: 0; }
						a { margin-left: 20px; }
						h4 { position: relative; margin-bottom: 0; font-weight: 300; font-size: 16px; width: 100%; padding: 20px 20px 20px 40px; display: block; background-color: @colorMain; color: @colorWhite; text-transform: none; border-bottom: 1px solid fade(@colorWhite, 10); .transition(); 
							&:before { content: ''; .arrow(8px); border-color: @colorWhite; border-width: 2px; left: 20px; top: 50%; margin-top: -5px; .transition(.4s); }
						}
						div { position: relative; width: 100%; max-height: 0; overflow: hidden; .transition(.4s); }
						&.Show { 
							h4 { text-transform: uppercase; background-color: @colorMain2; font-weight: 900; 
								&:before { .rotate(-135deg); margin-top: -3px; }
							}
							div { padding-bottom: 25px; max-height: 1000px; }
						}
					}
				}
			}
			&#Activity { padding: 75px 20px 0; margin-bottom: 80px;
				h2, h3 { padding: 0; }
				.swiper-container { 
					.swiper-slide { width: 100%; margin-right: 0; 
						p { padding-bottom: 15px; }
					}
				}
				#PrevSlide, #NextSlide { top: 100%; margin-top: 30px; }
				#PrevSlide { margin-right: -30px; }
				#NextSlide { margin-left: -30px; }
				#Pagination { display: block; }
			}
			&#Moments { overflow: visible; padding-bottom: 300px; background-position: bottom left; background-size: 700px auto;
				&:before { width: 220px; height: 34px; margin-left: -110px; top: -34px; }
				h2 { width: 150px; height: 150px; 
					span { top: 110px; }
				}
				
				.Body {
					> span { display: none; }
					> div {  width: 100%; padding: 0 20px;
						iframe { width: 100%; height: auto; }
						a { margin-top: 30px; }
					}
				}
			}
		}
		#Dots { display: none; }
	}
}
