/* LESS INITIALS
----------------------------------*/
/* imports */
@import "reset";
@import "base"; 
@import "elements"; 
@import "mixins"; 

@import "swiper";

@import "article"; 
@import "articles"; 
@import "exercises"; 
@import "footer"; 
@import "header"; 
@import "home"; 
@import "moments"; 
@import "video"; 

/* colors */
@colorWhite: #ffffff;
@colorBlack: #000000;
@colorText: #333333;
@colorMain: #29407d;    // blue
@colorMain2: #51adde;   // sky blue
@colorSky: #e3eff9;

@colorFb: #3465a2;
@colorTw: #24a9e2;
@colorGp: #dc4837;

/* fonts */
@font: 'Lato', sans-serif;
@fontSize: 16px;

/* images */
@logo: '/bundles/fachowoweb/images/logo.png';
@logoWhite: '/bundles/fachowoweb/images/logo-white.png';
@sprite: '/bundles/fachowoweb/images/sprite.png';
@spriteSize: 60px 240px;
@wave: '/bundles/fachowoweb/images/wave-main.png';
@wave2: '/bundles/fachowoweb/images/wave-main2.png';
@circle: '/bundles/fachowoweb/images/circle.png';
@cloud: '/bundles/fachowoweb/images/cloud.png';
@momentsLogo: '/bundles/fachowoweb/images/moments-logo.png';
@momentsLogo2: '/bundles/fachowoweb/images/moments-logo-small.png';
@momentsBg: '/bundles/fachowoweb/images/moments-bg.jpg';
@icon: '/bundles/fachowoweb/images/icon.png';
@gsk: '/bundles/fachowoweb/images/gsk-logo.png';
@play: '/bundles/fachowoweb/images/play.png';

/* transitions */
@transTime: .2s;


/* LESS
----------------------------------*/


/* RWD 
-------------------------------*/
@media screen and (max-width: 1270px) {
}

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
}
