/* MIXINS
----------------------------------*/

.transition(@time: @transTime) {
    -moz-transition: all @time ease-in-out;
    -o-transition: all @time ease-in-out; 
    -webkit-transition: all @time ease-in-out;
    -ms-transition: all @time ease-in-out; 
    transition: all @time ease-in-out;
}
.delay(@time: 0s) {
    -moz-transition-delay: @time;
    -o-transition-delay: @time; 
    -webkit-transition-delay: @time;
    -ms-transition-delay: @time; 
    transition-delay: @time;
}
.transition-all(...) {
    -webkit-transition: @arguments;
    transition: @arguments;
}
.transform(...) {
    -webkit-transform: @arguments;
    -moz-transform: @arguments;
    -o-transform: @arguments;
    -ms-transform: @arguments;
    transform: @arguments;
}
.origin(...){
    -webkit-transform-origin: @arguments;
    -ms-transform-origin: @arguments;
    transform-origin: @arguments;
}
.opacity(@op) {
	-moz-opacity:@op/100;
	-khtml-opacity:@op/100;
	opacity:@op/100;
}
.rotate(@deg){
    .transform(rotate(@deg));
}
.box-sizing (@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing:    @type;
	box-sizing:   @type;
}
.nowrap{
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}
.clear{
    content: '';
    float: none;
    clear: both;
    display: block;
    width: 100%;
}
.gradient(@angle, @color1, @color2) {
    background: @color1;
    background: -webkit-linear-gradient(@angle, @color1 , @color2);
    background: -o-linear-gradient(@angle, @color1, @color2);
    background: -moz-linear-gradient(@angle, @color1, @color2);
    background: linear-gradient(@angle, @color1 , @color2);
}

.grayscale(@scale: 100%) {
    -webkit-filter: grayscale(@scale);
    filter: grayscale(@scale);
}

.spriteBg(@pos1: 0, @pos2: 0) { 
    background: url(@sprite) no-repeat; 
    background-size: @spriteSize; 
    background-position: @pos1 @pos2; 
} 

.arrow(@size: 10px) { 
    content: ''; width: @size; height: @size; display: block; position: absolute; border-bottom: 4px solid @colorMain; border-right: solid 4px @colorMain; .rotate(45deg); .transition(); 
}

.generate-delays(@n, @i: 1) when (@i =< @n) {
  &:nth-child(@{i}) {
    transition-delay: (@i * 0.05s);
  }
  .generate-delays(@n, (@i + 1));
}

