#MomentsPage { 
	> header { position: relative; background: @colorSky url(@momentsBg) no-repeat center 80%; background-size: cover; 
		.Body { padding: 50px 0 40px 25%; text-align: center; 
			&:before { top: 100%; left: auto; right: 0; height: 270px; }
			h1 { margin: 0 auto 30px; text-indent: -2000px; overflow: hidden; top: -5px; width: 178px; height: 176px; background: url(@momentsLogo2) no-repeat top center; background-size: contain; }
			h3 { color: @colorMain; margin-bottom: 15px; font-weight: 700; }
			p { font-weight: 300; margin-bottom: 40px; font-size: 20px; }
			span { display: inline-block; width: 110px; height: 43px; position: relative; 
				img { max-width: 100%; max-height: 100%; }
			}
		}
		&:before { content: ''; width: 70%; height: 100%; display: block; position: absolute; right: 0; top: 0; .gradient(90deg, transparent, @colorWhite); }
	}
	
	> section { margin: 0 auto; padding: 60px 0 100px; position: relative; z-index: 1;
		h2 { font-size: 72px; font-weight: 900; color: @colorMain; text-align: center; margin-bottom: 45px;}
		h3 { line-height: 140%; color: @colorBlack; text-align: center; font-size: 20px; font-weight: 300; margin-bottom: 45px;
			em { font-weight: 700; color: @colorMain; }
			a { color: @colorMain; 
				&:hover { text-decoration: underline; }
			}
		}
		.Body { position: relative;
			.swiper-slide { padding: 0;
				.VideoTrigger { width: 540px; height: 305px; position: absolute; top: 0; left: 90px; 
					+ article { position: relative; float: right; margin-top: 40px; margin-right: 30px; height: auto; width: 45%; background-color: @colorMain; color: @colorWhite; padding: 35px 40px; font-size: 14px;
						h4 { font-weight: 700; font-size: 20px; line-height: 140%; margin-bottom: 20px; }
						p:not(:last-child) { margin-bottom: 15px; }
					}
				}
				&:after { content: ''; .clear(); }
			}

		}
		&.Body { padding-bottom: 30px; }
		.Prev, .Next { top: 62%; z-index: 1; display: none;
			&:before { border-width: 2px; }
		}
		.Prev { margin-right: -30px; }
		.Next { margin-left: -30px; }

		.swiper-pagination { margin-top: 40px; }
		&:nth-of-type(2) { background-color: fade(@colorMain2, 15); padding-bottom: 0; }

		.swiper-pagination-clickable ~ div { display: block; }


		#StoriesSlider {
			.swiper-slide { padding: 0 90px; }
			article { position: relative; padding-bottom: 100px; border-left: 1px solid fade(@colorBlack, 10); 
				p { font-weight: 300; font-size: 18px; }
				header { padding-left: 150px; min-height: 200px;
					h3 { text-align: left; text-transform: uppercase; color: @colorMain; font-size: 40px; font-weight: 900; margin-bottom: 5px; }
					h4 { font-size: 20px; font-weight: 700; color: @colorMain; margin-bottom: 25px; }
					figure { position: absolute; top: 0; left: -90px; width: 211px; height: 236px; 
						img { max-width: 100%; max-height: 100%; 
							&:not(:first-of-type) { display: none; }
						}
					}
				}
				div { padding: 50px 0 0 60px; position: relative;
					figcaption { float: left; width: 46%; }
					figure { float: right; width: 45%; position: relative; text-align: right;
						img { max-width: 100%; height: auto; width: auto; max-height: 500px; }
					}
					&:after { .clear(); }
				}
				&:after { content: ''; width: 1px; height: 1000px; position: absolute; top: 100%; left: -1px; display: block; background-color: fade(@colorBlack, 10); }
			}
		}
		#StoriesPagination { top: auto; bottom: 40px; z-index: 1; }
	}
	.Voltaren { .Blue(); padding-bottom: 60px;
		&:before { width: 100%; .rotate(180deg); }
		.Body {
			h2 { font-size: 22px; width: 290px; margin-bottom: 20px; text-align: left; text-transform: uppercase; }
			h3 { width: 370px; font-size: 16px; margin-bottom: 20px; text-align: left; }
			.More { margin-bottom: 40px; }
			figure { position: absolute; top: -80px; right: 0; width: 540px; height: auto; 
				img { display: inline-block; max-width: 100%; height: auto; }
			}
			p { width: 90%; font-size: 12px; font-weight: 300; margin-bottom: 50px; line-height: 150%; }
			strong { color: @colorMain; font-size: 54px; line-height: 120%; }
		}
	}
}


/* RWD 
-------------------------------*/
@media screen and (max-width: 1270px) {
	#MomentsPage .Voltaren .Body figure { right: -30px; }
}

@media screen and (max-width: 1023px) {
	#MomentsPage {
		>  header { background-size: cover; background-position: 30% center;
			.Body { padding-left: 35%; 
				p { font-size: 18px; }
			}
		}
		> section {
			h2 { font-size: 54px; }
			h3 { font-size: 18px; }
			.Body .swiper-slide {
				.VideoTrigger { width: 510px; height: 288px; left: 0; display: block; margin: 0 auto; position: relative; 
					+ article { float: none; position: relative; top: 0; right: 0; margin: 0 auto; width: 510px; height: auto; }
				}
			}
			#StoriesSlider {
				article {
					header { padding-left: 100px;
						figure { width: 120px; height: 135px; left: -60px; }
					}
					> div {
						figure { float: none; width: 400px; margin: 0 auto 30px; }
						figcaption { float: none; width: 100%; }
					}
				}
				.swiper-slide { padding: 0 60px; }
			}
		}
		.Voltaren .Body {
			h2, h3, p { width: 100%; }
			figure { position: relative; top: 0; margin: 0 auto 40px; text-align: center; width: 400px; }
			strong { font-size: 40px; }
		}
		.Item.Big {
			figure span { height: 112%; .opacity(70); }
			aside { padding-right: 20px; }
		}
		.Grid .Item { display: block; float: none; margin: 0 auto;
			&:last-of-type { 
				figure { left: 0; }
				aside { left: 50%; 
					&:after { right: 100%; }
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	#MomentsPage { overflow: hidden; 
		>header { background-position: bottom left; background-size: 700px auto;
			&:before { display: none; }
			.Body { padding: 40px 20px 300px;
				&:before { height: 150px; right: -30px; } 
				h1 { width: 180px; height: 176px; margin-bottom: 15px; }
				h3 { font-size: 17px; padding: 0; margin-bottom: 10px; }
				p { font-size: 17px; margin-bottom: 30px; text-align: left; }
				span { width: 80px; height: 30px; }
			}
		}
		> section { padding-top: 30px; padding-bottom: 80px;
			h2 { font-size: 40px; margin-bottom: 25px; }
			h3 { font-size: 17px; padding: 0 20px; margin-bottom: 30px; }
			.swiper-slide { padding: 0 20px; }
			.Body .swiper-slide .VideoTrigger { width: 100%; height: auto; 
				+ article { width: 100%; padding: 20px; 
					h4 { font-size: 17px; }
					p { font-size: 14px; }
				}
			}
			.Prev, .Next { top: 100%; margin-top: 18px; }
			.Prev { margin-right: -50px; }
			.Next { margin-left: -50px; }
			.swiper-pagination { margin-top: 30px; }
			#PrevStory, #NextStory { margin-top: -70px; }
			#StoriesSlider {
				.swiper-slide { padding: 0 20px; }
				article { border: 0;
					&:after { display: none; }
					p { font-size: 14px; }
					header { padding-left: 0; padding-bottom: 20px;
						h3 { font-size: 20px; padding: 0; line-height: 100%; }
						h4 { font-size: 19px; margin-bottom: 20px; }
						figure { width: 100%; height: auto; left: 0; position: relative; margin-bottom: 30px;
							img {
								&:last-of-type { display: block; }
								&:not(:last-of-type) { display: none; }
							}
						}
					}
					> div { padding: 0; 
						figure { width: 100%; margin-bottom: 20px;
							img { max-height: 300px; }
						}
					}
				}
			}
		}
		.Voltaren .Body { padding: 0 20px; 
			h3 { padding: 0; }
			figure { width: 100%; }
			p { margin-bottom: 30px; }
			strong { font-size: 26px; }
		}

		.Item.Big {
			figure span { height: 80%; background-position: bottom right; margin-top: 20%; .opacity(100); }
			aside { padding-right: 30%; 
				p { -webkit-line-clamp: 6; }
			}
		}
	}

}
