#VideoModal { .opacity(0); visibility: hidden; position: fixed; width: 100vw; height: 100vh; left: 0; top: 0; z-index: 10; .transition(0s); .delay(.4s);
	.Cross { position: fixed; top: 20px; right: 40px; z-index: 15; }
    &.Show { .delay(0s); .opacity(100); visibility: visible;
        .Overlay { .opacity(100); visibility: visible; }
    }

    .Body {  text-align: center; top: 50%; .transform(translateY(-50%)); 
        iframe { .opacity(0); .transition(.4s); }
    }
    &.Show .Body iframe { .opacity(100); }
}

.Overlay { .opacity(0); visibility: hidden; overflow: hidden; position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-color: fade(@colorBlack, 80); cursor: pointer; .transition(.4s); }


/* RWD 
-------------------------------*/

@media screen and (max-width: 1270px) {
}

@media screen and (max-width: 1020px) {
	#VideoModal .Body iframe { width: 690px; height: 388px; }
}

@media screen and (max-width: 767px) {
	#VideoModal {
		.Cross { right: 10px; }
		.Body iframe { width: 320px !important; height: 180px !important; }
	}
}
