<!DOCTYPE html>
<html lang="pl">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}
        <meta charset="UTF-8"/>
    {% endblock %}


    {% block stylesheets %}{% endblock %}
    {% block ga %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}{% endblock %}
{% block fos_user_content %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>