{% if wo_breadcrumbs()|length %}
    {% spaceless %}
        <ul class="breadcrumb">
            {% for b in breadcrumbs %}
                {% if loop.last %}
                    <li class="active">
                {% endif %}
                {% if b.url and not loop.last %}
                    <li><a href="{{ b.url }}" {% if linkRel is defined and linkRel|length %} rel="{{ linkRel }}"{% endif %}>
                {% endif %}
                {{- b.text | raw -}}
                {% if b.url and not loop.last %}</a></li>{% endif %}
            {% endfor %}
        </ul>
  {% endspaceless %}
{% endif %}
