{% extends "FachowoAdminBundle::layout.html.twig" %}

{% block content %}
    <section class="panel" id="datatable">
        <header class="panel-heading font-bold">
            Projekty
            <a class="btn btn-xs btn-success pull-right" href="{{ path('project_new') }}">
                <i class="fa fa-plus"></i> Dodaj nowy
            </a>
        </header>
        <div class="table-responsive">
            <table class="table table-striped m-b-none" data-ride="datatables">
                <thead>
                <tr>
                        <th>Zdjęcie</th>
                        <th>Nazwa</th>
                        <th>Utworzony</th>
                        <th>Przez</th>
                        <th>Ostatnia edycja</th>
                        <th>Przez</th>
                        <th>Zadania</th>
                        <th>Status</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                    <tr>
                        <td><img src="{{ project.image | imagine_filter('admin_thumb') }}" class="img-responsive" alt="Responsive image"></td>
                        <td>{{ project.name }}</td>
                        <td>{% if project.created %}{{ project.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ project.createdBy.username }}</td>
                        <td>{% if project.updated %}{{ project.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ project.updatedBy.username }}</td>
                        <td>
                            <ul>
                                {% for task in project.tasks %}
                                    <a href="{{ path('task_show', {'id': task.id}) }}">
                                        <li>
                                            {{ task.name }}
                                            {% if task.status %}
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            {% endif %}
                                        </li>
                                    <a>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ project.status }}</td>
                        <td>
                            <a href="{{ path('project_show', { 'id': project.id }) }}">|pokaż | </a>
                            <a href="{{ path('project_edit', { 'id': project.id }) }}">edytuj|</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

{% endblock %}