{% extends "FachowoAdminBundle::layout.html.twig" %}

{% block content %}
    <section class="panel" id="datatable">
        <header class="panel-heading font-bold">
            Lista artykułów
            <a class="btn btn-xs btn-success pull-right" href="{{ path('project_new') }}">
                <i class="fa fa-plus"></i> Dodaj nowy
            </a>
        </header>
        <div class="table-responsive">
            <table class="table table-striped m-b-none" data-ride="datatables">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ project.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ project.name }}</td>
                </tr>
                <tr>
                    <th>Created</th>
                    <td>{% if project.created %}{{ project.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Createdby</th>
                    <td>{{ project.createdBy }}</td>
                </tr>
                <tr>
                    <th>Updated</th>
                    <td>{% if project.updated %}{{ project.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Updatedby</th>
                    <td>{{ project.updatedBy }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ project.status }}</td>
                </tr>
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('project_index') }}">Back to the list</a>
                </li>
                <li>
                    <a href="{{ path('project_edit', { 'id': project.id }) }}">Edit</a>
                </li>
                {% if logger is defined %}
                    <li>
                        <a href = "{{ path('logger_restore', {'id': loggerId}) }}">Przywróć</a>
                    </li>
                {% else %}
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="panel panel-default">
            {% if logger is defined %}
                <div class="panel-heading"><strong>Komentarze niedostępne</strong></div>
            {% else %}
                <div class="panel-heading"><strong>Komentarze</strong></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            {{ render(controller('FachowoAdminBundle:Comments:index', {'model': 'project', 'modelId': project.id})) }}
                            {{ render(controller('FachowoAdminBundle:Comments:new', {'model': 'project', 'modelId': project.id})) }}
                        </div>
                    </div>
                </div>
            {% endif %}

    </section>
{% endblock %}
