{% for comment in comments %}
    <div class="alert alert-info alert-dismissible">
        <h4>
            {{ comment.createdBy.username }}  <small>{{ comment.created|date('Y-m-d H:i:s') }}</small>
        </h4>
        {{ comment.content }}
    </div>
{% endfor %}
