{% block file_widget %}
    {% spaceless %}
        {{ block('form_widget') }}
        {% if file_url is defined and file_url is not null %}
            <img src="{{ file_url | imagine_filter('admin_thumb') }}"/>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block button_row %}
    {% spaceless %}
        <div style="display: inline; padding-right: 5px;">
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock button_row %}

{% block images_widget %}
    {% spaceless %}
        <p><input type="file" name="uploadifive" id="uploadifive"></p>
        <div id="uploadifiveImages"></div>
    {% endspaceless %}
{% endblock %}


