{% extends "FachowoAdminBundle::layout.html.twig" %}

{% block content %}
<section class="panel" id="datatable">
    <header class="panel-heading font-bold">
        Projekty
        <a class="btn btn-xs btn-success pull-right" href="{{ path('project_new') }}">
            <i class="fa fa-plus"></i> Dodaj nowy
        </a>
    </header>
    <div class="table-responsive">
        <table class="table table-striped m-b-none" data-ride="datatables">
        <thead>
            <tr>
                <th>Date</th>
                <th>User</th>
                <th>Tablename</th>
                <th>Row Id</th>
                <th>Action</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% for logger in loggers %}
            <tr>
                <td>{% if logger.date %}{{ logger.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ logger.userName }}</td>
                <td>{{ logger.tableName }}</td>
                <td>{{ logger.rowId }}</td>
                <td>{{ logger.action }}</td>
                <td><a href="{{ path('logger_show', { 'id': logger.id }) }}">{{ logger.changes.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</section>
    
{% endblock %}
