{% extends "FachowoAdminBundle::layout.html.twig" %}

{% block content %}
<section class="panel" id="datatable">
    <header class="panel-heading font-bold">
        Lista artykułów
        <a class="btn btn-xs btn-success pull-right" href="{{ path('client_new') }}">
            <i class="fa fa-plus"></i> Dodaj nowy
        </a>
    </header>
    <div class="table-responsive">
        <table class="table table-striped m-b-none" data-ride="datatables">
        <thead>
            <tr>
                <th>Name</th>
                <th>lista projektów</th>
                <th>pracownicy odpowiedzialni za rozwój</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
                <tr>
                    <td>{{ client.name }}</td>
                    <td>{{ dump(client.projects) }}
                        {#<ul>#}
                            {#{% for project in client.projects %}#}
                            {#<li>{{ dump(project) }}</li>#}
                            {#{% endfor %}#}
                        {#</ul>#}
                    </td>
                    <td>
                        {#<ul>#}
                            {#{% for user in client.users %}#}
                                {#<li>{{ dump(user) }}</li>#}
                            {#{% endfor %}#}
                        {#</ul>#}
                    </td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('client_show', { 'id': client.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('client_edit', { 'id': client.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</section>
{% endblock %}
