{% extends 'FachowoAdminBundle::layout.html.twig' %}

{% block content %}
<section class="panel" id="datatable">
    <header class="panel-heading font-bold">
        Klienci
        <a class="btn btn-xs btn-success pull-right" href="{{ path('client_new') }}">
            <i class="fa fa-plus"></i> Dodaj nowy
        </a>
    </header>
    <div class="table-responsive">
        <table class="table table-striped m-b-none" data-ride="datatables">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ client.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('client_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('client_edit', { 'id': client.id }) }}">Edit</a>
        </li>
        {% if logger is defined %}
            <li>
                <a href = "{{ path('logger_restore', {'id': client.id}) }}">Przywróć</a>
            </li>
        {% else %}
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
    </ul>
    </div>
</section>
{% endblock %}
