{% extends "::base.html.twig" %}

{% block title %}Admin Panel{% endblock %}

{% block stylesheets %}
    {% stylesheets 'bundles/fachowoadmin/css/bootstrap.css'
    'bundles/fachowoadmin/css/animate.css'
    'bundles/fachowoadmin/css/font-awesome.min.css'
    'bundles/fachowoadmin/css/font.css'
    'bundles/fachowoadmin/js/fuelux/fuelux.css'
    'bundles/fachowoadmin/js/datatables/datatables.css'
    'bundles/fachowoadmin/js/datepicker/datepicker.css'
    'bundles/fachowoadmin/js/uploadifive/uploadifive.css'
    'bundles/fachowoadmin/css/plugin.css'
    'bundles/fachowoadmin/css/app.css'
    'bundles/fachowoadmin/css/fachowoCMS.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <!--[if lt IE 9]>
    <script src="bundles/fachowoadmin/js/ie/respond.min.js"></script>
    <script src="bundles/fachowoadmin/js/ie/html5.js"></script>
    <script src="bundles/fachowoadmin/js/ie/fix.js"></script>
    <![endif]-->

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/bundles/fachowoweb/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/bundles/fachowoweb/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/bundles/fachowoweb/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/bundles/fachowoweb/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/bundles/fachowoweb/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/bundles/fachowoweb/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/bundles/fachowoweb/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/bundles/fachowoweb/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/bundles/fachowoweb/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/bundles/fachowoweb/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/bundles/fachowoweb/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/bundles/fachowoweb/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/bundles/fachowoweb/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/bundles/fachowoweb/images/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/bundles/fachowoweb/images/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" type="image/x-icon" href="bundles/fachowoweb/images/icons/favicon.ico"/>
{% endblock %}

{% block body %}
    {% block header %}{% endblock %}
    <section class="hbox stretch">
        {% block aside %}
            <aside class="bg-black aside-sm hidden-print" id="nav">
                <section class="vbox">
                    <header class="dker nav-bar">
                        <a href="{{ path('fachowo_admin_dashboard') }}" class="nav-brand cms-logo">
                            <img src="{{ asset('bundles/fachowoadmin/images/logo.png') }}" class="logo"/>
                        </a>
                    </header>
                    <section>
                        <nav class="nav-primary hidden-xs">
                            <ul class="nav">
                                <li>
                                    <a href="{{ path('project_index') }}">
                                        <i class="fa fa-list-alt"></i>
                                        <span>Projekty</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('task_index') }}">
                                        <i class="fa fa-list"></i>
                                        <span>Zadania</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('client_index') }}">
                                        <i class="fa fa-users"></i>
                                        <span>Klienci</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('user_index') }}">
                                        <i class="fa fa-wheelchair"></i>
                                        <span>Użytkownicy</span>
                                    </a>
                                </li>
                                {#<li>#}
                                    {#<a href="{{ path('admin_settings_edit') }}">#}
                                        {#<i class="fa fa-gears"></i>#}
                                        {#<span>Ustawienia</span>#}
                                    {#</a>#}
                                {#</li>#}
                                <li>
                                    <a href="{{ path('logger_index') }}">
                                        <i class="fa fa-gears"></i>
                                        <span>Logi</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </section>
                    <footer class="footer bg-gradient hidden-xs">
                        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-sm btn-link m-r-n-xs">
                            <i class="fa fa-power-off"></i>
                        </a>

                        <a href="{{ path('logger_index') }}" class="btn btn-sm btn-link m-r-n-xs">
                            <i class="fa fa-gavel" aria-hidden="true"></i>
                        </a>

                    </footer>
                </section>
            </aside>
        {% endblock %}
        <section class="content">
            <section class="vbox ">
                <header class="header b-b hidden-print bg-white">
                    {% block breadcrumbs %}
                        {{ wo_render_breadcrumbs({ viewTemplate: "FachowoAdminBundle:Main:breadcrumbs.html.twig" }) }}
                    {% endblock %}
                </header>
                <section class="scrollable ">

                    <section class="wrapper">
                        {% block content_header %}{% endblock %}
                        {% block content %}{% endblock %}
                    </section>
                </section>
            </section>
        </section>
    </section>
{% endblock %}

{% block javascripts %}
    {% javascripts '@FachowoAdminBundle/Resources/public/js/jquery.min.js'
    '@FachowoAdminBundle/Resources/public/js/bootstrap.js'
    '@FachowoAdminBundle/Resources/public/js/app.js'
    '@FachowoAdminBundle/Resources/public/js/app.plugin.js'
    '@FachowoAdminBundle/Resources/public/js/app.data.js'
    '@FachowoAdminBundle/Resources/public/js/fuelux/fuelux.js'
    '@FachowoAdminBundle/Resources/public/js/datepicker/bootstrap-datepicker.js'
    '@FachowoAdminBundle/Resources/public/js/libs/underscore-min.js'
    '@FachowoAdminBundle/Resources/public/js/datatables/jquery.dataTables.min.js'
    '@FachowoAdminBundle/Resources/public/js/sortable/jquery.sortable.js'
    '@FachowoAdminBundle/Resources/public/js/uploadifive/jquery.uploadifive.min.js'
    '@FachowoAdminBundle/Resources/public/js/main.js'
    '@FachowoAdminBundle/Resources/public/js/ngo.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
