{% extends "FachowoAdminBundle::layout.html.twig" %}

{% block content %}
<section class="panel">
    <header class="panel-heading font-bold">
        Edycja zadania
        <a class="btn btn-white btn-xs btn-next pull-right" href="{{ path('user_index') }}">
            <i class="fa fa-chevron-left"></i> Powrót do listy użytkowników
        </a>
    </header>
    <div class="panel-body">
        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" value="Edit" />
        {{ form_end(edit_form) }}
        {{ form_start(delete_form) }}
        <input type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </div>
</section>
{% endblock %}
