{% extends "FachowoAdminBundle::layout.html.twig" %}

{% block content %}

<section class="panel" id="datatable">
    <header class="panel-heading font-bold">
        Lista uzytkowników
        <a class="btn btn-xs btn-success pull-right" href="{{ path('user_new') }}">
            <i class="fa fa-plus"></i> Dodaj użytkownika
        </a>
    </header>
    <div class="table-responsive">
        <table class="table table-striped m-b-none" data-ride="datatables">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Uprawnienia</th>
                    <th>Zadania</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        <a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.username }}</a>
                    </td>
                    <td>{{ user.email }}</td>
                    <td>
                        <ul>
                            {% for role in user.roles %}
                            <li>{{ role }}</li>
                            {% endfor %}
                        </ul>
                        <a href="{{ path('user_edit', { 'id': user.id }) }}"></a>
                    </td>
                    <td>
                        {% for task in user.tasks %}
                            {% if task.status %}
                                <a href="{{ path('task_show', {'id': task.id}) }}">
                                   - {{ task }}<br>
                                </a>
                            {% endif %}

                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('user_edit', { 'id': user.id }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
