{% extends "FachowoAdminBundle::layout.html.twig" %}

{% block content %}
<section class="panel">
    <header class="panel-heading font-bold">
        Nowy użytkownik
        <a class="btn btn-white btn-xs btn-next pull-right" href="{{ path('user_index') }}">
            <i class="fa fa-chevron-left"></i> Powrót do listy użytkowników
        </a>
    </header>
    <div class="panel-body">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" />
        {{ form_end(form) }}
    </div>
</section>
{% endblock %}
