{% extends "FachowoAdminBundle::layout.html.twig" %}

{% block content %}
<section class="panel" id="datatable">
    <header class="panel-heading font-bold">
        Lista zadań
        <a class="btn btn-xs btn-success pull-right" href="{{ path('task_new') }}">
            <i class="fa fa-plus"></i> Dodaj nowe zadanie
        </a>
    </header>
    <div class="table-responsive">
        <table class="table table-striped m-b-none" data-ride="datatables">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>Facebook_id</th>
                    <td>{{ user.facebookid }}</td>
                </tr>
                <tr>
                    <th>Facebook_access_token</th>
                    <td>{{ user.facebookaccesstoken }}</td>
                </tr>
                <tr>
                    <th>Twitter_id</th>
                    <td>{{ user.twitterid }}</td>
                </tr>
                <tr>
                    <th>Twitter_access_token</th>
                    <td>{{ user.twitteraccesstoken }}</td>
                </tr>
                <tr>
                    <th>Voted</th>
                    <td>{% if user.voted %}Yes{% else %}No{% endif %}</td>
                </tr>
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('user_index') }}">Back to the list</a>
            </li>
            <li>
                <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
</section>
{% endblock %}
