{% extends "FachowoAdminBundle::layout.html.twig" %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
            <i class="fa fa-check-sign"></i>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <section class="panel">
        <header class="panel-heading font-bold">
            Ustawienia
        </header>
        <div class="panel-body">
            {{ form(edit_form) }}
        </div>
    </section>
{% endblock %}
