{% trans_default_domain 'FOSUserBundle' %}
<div class="text-center">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register')}) }}
    {{ form_widget(form) }}
    <div class="text-center">
        <input class="btn btn-primary buttonChange" type="submit" value="Zatwierdź" />
    </div>
    <br>
{{ form_end(form) }}
</div>


