{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block htmlTag %}lang="pl"{% endblock %}

{% block meta %}
    {{ parent() }}
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
{% endblock %}

{% block title %}Admin Panel{% endblock %}

{% block stylesheets %}
    {% stylesheets 'bundles/fachowoadmin/css/bootstrap.css'
    'bundles/fachowoadmin/css/animate.css'
    'bundles/fachowoadmin/css/font-awesome.min.css'
    'bundles/fachowoadmin/css/font.css'
    'bundles/fachowoadmin/css/plugin.css'
    'bundles/fachowoadmin/css/app.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <!--[if lt IE 9]>
    <script src="bundles/fachowoadmin/js/ie/respond.min.js"></script>
    <script src="bundles/fachowoadmin/js/ie/html5.js"></script>
    <script src="bundles/fachowoadmin/js/ie/fix.js"></script>
    <![endif]-->
{% endblock %}


{% block fos_user_content %}
<section id="content" class="m-t-lg wrapper-md animated fadeInUp">
    <p class="nav-brand"><strong>fa</strong>flow</p>
    <div class="row m-n">
        <div class="col-md-4 col-md-offset-4 m-t-lg">
            {#{% if error %}#}
                {#<div class="alert alert-danger"><strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong></div>#}
            {#{% endif %}#}
            <section class="panel">
                <header class="panel-heading bg bg-black">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="{{ path('admin_login') }}" class="btn btn-primary"><- powrót</a>
                        </div>
                        <div class="col-md-8">
                            <h5><b>Rejestracja</b></h5>
                        </div>
                    </div>
                </header><br>

                {% include "FOSUserBundle:Registration:register_content.html.twig" %}
            </section>
        </div>
    </div>
</section>


    <!-- footer -->
    <footer id="footer">
        <div class="text-center padder clearfix">
            <p>
                <small>&copy; {{ 'now'|date('Y')}}</small>
            </p>
        </div>
    </footer>
{% endblock fos_user_content %}

{% block javascripts %}
    {% javascripts '@FachowoAdminBundle/Resources/public/js/jquery.min.js'
    '@FachowoAdminBundle/Resources/public/js/bootstrap.js'
    '@FachowoAdminBundle/Resources/public/js/app.js'
    '@FachowoAdminBundle/Resources/public/js/app.plugin.js'
    '@FachowoAdminBundle/Resources/public/js/app.data.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
